{%extends "base.html"%}

{%load bootstrap%}

{% block main%}

<div id="app" >
<div class="container mt-4 ">

    <div class="row">

        <div class="col">
            <h2 class="float-left">Autores</h2>

        </div>

        <div class="col text-right">

            <a  @click.prevent="form" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar un nuevo Autor"><i class="fas fa-user-plus"></i></a>


        </div>

    </div>



</div>

<div class="container mt-5">
    <table class="table">

        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>

            {%for autor in autores%}
            <tr>
            <td>{{autor.id}}</td>
            <td>{{autor.nombre}}</td>
            <td>{{autor.telefono}}</td>
            <td>{{autor.correo}}</td>
            <td>
                <a @click.prevent="del" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar {{autor.nombre}}"><i class="fas fa-user-times" style="color: beige;"></i></a>
                <a href="{%url 'usuarios:autorEdit' id=autor.id%}" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar {{autor.nombre}}"><i class="fas fa-user-edit" style="color: bisque;"></i></a>


            </td>
            </tr>
            {%endfor%}

        </tbody>



    </table>

</div>


<!-- Modal Form-->
<div id="modalForm" class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Nuevo Autor</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
    <form action="{%url 'usuarios:autorEdit' id=id%}" method="post">
        {% csrf_token%}
          {{form|bootstrap}}
          <input value="Guardar" type="submit" class="btn btn-primary mt-5">
    </form>
        </div>
    
     
       
    
      </div>
    </div>
  </div>




</div>



{%endblock%}

{%block script%}
<script>


    document.addEventListener("DOMContentLoaded",function(){


        $('#modalForm').modal('show');
    })

</script>


{%endblock%}